.collections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collections p .link{
    color: white;
    text-decoration: none;
  
  }
  
  .collections p .link:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .collections p .link:visited,
  .collections p .link:active {
    color: orange;
    text-decoration: underline;
  }