.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome p .link{
  color: white;
  text-decoration: none;

}

.welcome p .link:hover {
  color: orange;
  cursor: pointer;
  text-decoration: underline;
}

.welcome p .link:visited,
.welcome p .link:active {
  color: orange;
  text-decoration: none;
}