.routeBorder {
  border: pink solid 2px;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}


#routeContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  border: red solid 2px;
}

#routeSubContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: red solid 2px;
}

#routeCenter {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border: yellow solid 2px;
}

#routeFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  border: greenyellow solid 2px;
}

#routeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  border: greenyellow solid 2px;
}

#routeLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border: blue solid 2px;
}

#routeNav {
  display: flex;
  justify-content: space-evenly;
  border: teal solid 2px;
}

#routeRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border: blue  solid 2px;
}